@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP MVC Frontend</h1>
    <p class="lead">CoinExchange</p>
    <p><a href="https://coinexchange.io" class="btn btn-primary btn-lg">Coin Exchange</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Pretty much this is like, just a frontend for the coinexchange api
        </p>
    </div>
</div>